@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-black no-underline hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
}

.primary-button {
  @apply flex justify-center  rounded bg-amber-300 py-2 px-4 text-xs shadow outline-none hover:bg-amber-400 active:bg-amber-500  md:text-sm;
}
.default-button {
  @apply rounded bg-black py-2  px-4 text-white shadow outline-none hover:bg-amber-300 hover:text-black active:text-black  active:bg-amber-300;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}
